@{
    ViewBag.Title = "Home Page";
}
<h1 style="color:blue" class="fst-italic"> <marquee width="60%" direction="left" height="100px">
    STATE LEVEL INTER COLLEGE FEST
</marquee></h1>
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="~/images/3.jpg" width="1000" height="500">
            <div class="carousel-caption d-none d-md-block">
                <h5>yuvanava</h5>
             
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="~/images/1.jpg" width="1000" height="500">
            <div class="carousel-caption d-none d-md-block">
                <h5> yuvanava</h5>
           
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/2.jpg"  width="1000" height="500">
            <div class="carousel-caption d-none d-md-block">
                <h5>yuvanava</h5>
             
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br/>
  <p class="fst-italic"> In the Silicon Valley of India, life never ceases to stop. Admist the chaotic atmosphere of never ending demands of the clients,
    working professionals always need to be on their toe tips. In such ascenario, ICAT Design & Media College Bangalore takes the pride 
    in preparing future professionals which not only strive in such a competitive environment but also provides the“wow” output </p>

<h3>GENERAL RULES AND REGULATIONS</h3>
<ol class="list-group list-group-numbered list-group-item list-group-item-dark">
    <li class="list-group-item"> Only College students are allowed to participate. Student ID card or a formal letter from the respective college should be showcased at the time of registration.</li>
    <li class="list-group-item">The participants should register themselves at least half an hour before the event starts.</li>
    <li class="list-group-item">Use of vernacular language will NOT be allowed.</li>
    <li class="list-group-item">Creative linking of the theme,Sci-Fi Future and Beyond will fetch extra points.</li>
    <li class="list-group-item">The panel members decision will be final and binding.</li>
    <li class="list-group-item">Online registration will close 24 hours prior to the event.</li>
</ol>